.images {
    margin: 0 auto 14px auto;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
}

.images:last-child {
    margin-bottom: 0;
    padding-bottom: 200px;
}
